/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Syne:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Variables css */
:root {
    --header-height: 3.5rem;
--hue:15;
--first-color: hsl(var(--hue), 90%, 40%); /* e signiture color */
--first-color-light: hsl(var(--hue), 100%, 60%);
--first-color-alt: hsl(var(--hue), 100%, 55%);
--title-color: hsl(var(--hue), 100%, 10%); /* e icons titles */
--icon-color: hsl(var(--hue), 0%, 100%);
--text-color: hsl(var(--hue), 90%, 40%); /* e description */
--text-color-light: hsl(var(--hue), 20%, 70%);
--body-color: hsl(var(--hue), 0%, 100%);
--container-color: hsl(var(--hue), 20%, 97%);




/* Font and typography */

--body-font: "Lato", sans-serif;
--biggest-font-size: 3rem;
--big-font-size: 1.5rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;


/* font weight */

--font-regular: 400;
--font-semi-bold: 600;
--font-bold: 700;


/* z index */

--z-tooltip: 10;
--z-fixed: 1000;
}

/* RESPONSIVE TYPOGRAPHY */


@media screen and (min-width: 1150px){
    :root{
        --biggest-font-size: 4.5rem;
        --big-font-size: 2.75rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1.124rem;
        --font-size: .875rem;
    }
}


/* BASE */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body,
input,
textarea,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}


input,
button,
textarea{
    border: none;
    outline: none;
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

p{
    line-height: 130%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}


/* REUSABLE CSS CLASSES */

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 2rem;
}

.section__title{
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
}

.main{
    overflow: hidden;
}

/* HEADER AND NAV */

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--title-color);
    font-weight: var(--font-bold);
}

.nav__toggle,
.nav__close{
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}



/* NAVIGATION FOR MOBILE PHONES */

@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(var(--hue), 100%, 100%, .1);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 50%;
        height: 100%;
        padding: 7rem 3rem;
        transition: right .4s;
    }
}


.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--first-color-light);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__link:hover::after{
    width: 30%;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* show menu */
.show-menu{
    right: 0;
}

/* add blur header */

.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(var(hue), 70%, 4%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;
}


/* Active Link */
.active-link{
    color: var(--first-color-light);
}

.active-link::after{
    width: 30px;

}




/* HOME */

.home__container{
    row-gap: 2rem ;
    padding-top: 1rem;
}

.home__img{
    width: 220px;
    justify-self: center;
    mask-image: linear-gradient(to bottom, hsla(var(--hue), 40%, 16%) 60%, transparent 100%);
}

.home__name{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
/*  word-break: break-word; */
    margin-bottom: 1rem;
}

.home__profession{
    position: relative;
    font-size: var(--big-font-size);
    color: var(--text-color);
}

.home__profession::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 25%;
    height: 3px;
    background-color: var(--text-color);
}

.home__scroll{
    color: var(--title-color);
    display: inline-flex;
    column-gap: .5rem;
    align-items: center;
    justify-self: center;
    margin-top: 3rem;
}

.home__scroll-box{
    background-color: var(--first-color);
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    overflow: hidden;
}
.home__scroll-box i{
    color: var(--icon-color);
}

.home__scroll-text{
    font-weight: var(--font-semi-bold);
}

.home__scroll-box i{
    animation: scroll-down 3s infinite;
}

/* animate scroll icon */

@keyframes scroll-down{
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(.6rem);
        opacity: 0;
    }
}

/* Services */

.services {
    background-color: var(--container-color);
}

.service__card {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service__link {
    display: block;
    position: relative;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    color: var(--text-color);
    transition: transform .4s;
    height: 100%;  /* Ensure the link takes up the full height of the card */
}

.service__title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.service__description {
    margin-bottom: 1.5rem;
    flex-grow: 1; /* Make the description take up remaining space */
}

.service__link i {
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color-light);
    transition: transform .4s;
}

.service__link:hover {
    transform: translateY(-.35rem);
}

.service__link:hover i {
    transform: translateY(-.5rem);
}

.service__link img, .project__link img {
    width: 100%;  /* Ensure the image fills the entire width of the container */
    height: 15rem; /* Set a fixed height for consistency across all images */
    object-fit: cover; /* Ensure the image covers the entire area without stretching */
    display: block;
}


/* about us  */
.aboutus__container{
    row-gap: 3rem;
}

.aboutus__title{
    position: relative;
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-bottom: 2rem;
}

.aboutus__title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 20px;
    height: 2px;
    background-color: var(--text-color);
}

.aboutus{
    row-gap: 3rem;
}

.aboutus__description{
    margin-bottom: 2rem;
}

.aboutus__img{
    width: 250px;
    justify-self: center;
    mask-image: linear-gradient(to bottom, hsla(var(--hue), 40%, 16%)60%, transparent 100%);
}







/* PREVIOUS PROJECTS */

.projects {
    background-color: var(--container-color);
}

.project__card {
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project__link {
    display: block;
    position: relative;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    color: var(--text-color);
    transition: transform .4s;
    height: 100%;  /* Ensure the link takes up the full height of the card */
}

.project__title {
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.project__description {
    margin-bottom: 1.5rem;
    flex-grow: 1; /* Make the description take up remaining space */
}

.project__link i {
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color-light);
    transition: transform .4s;
}

.project__link:hover {
    transform: translateY(-.35rem);
}

.project__link:hover i {
    transform: translateY(-.5rem);
}

/* Contact us */

.contactus__container{
    row-gap: 4rem;
}

.contactus__group,
contactus__form{
    gap: 1rem;
}

.contactus__form{
    position: relative;
}

.contactus__input{
    padding: 1.25rem;
    background-color: var(--container-color);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.contactus__input::placeholder{ 
    color: var(--text-color-light);
}

.contactus__area{
    height: 10rem;
    resize: none;
}

.contactus__button{
    margin-top: 1rem;
    padding: 1.25rem;
    background-color: var(--first-color);
    color: var(--container-color);
    font-weight: var(--font-semi-bold);
    transition:.4s;
}

.contactus__button:hover{
    background-color: var(--first-color-light);

}

.contactus__social{
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
    column-gap: 3rem;
}

.contactus__social-link{
    color: var(--title-color);
    display: inline-flex;
    column-gap: .25rem;
    align-items: center;
    transition: color .4s;
}

.contactus__social-link i{
    font-size: 2rem;
}

.contactus__social-link span{
    font-weight: var(--font-bold);
}

.contactus__social-link:hover{
    color: var(--first-color-light)
}

.contactus__message{
    /* margin-top: .5rem; */
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

/* FOOTER */

.footer{
    background-color: var(--container-color);
}

.footer__container{
    padding-block: 1.5rem 1.5rem;
    row-gap: 3rem;
}

.footer__links{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.footer__links{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.footer__links:hover{
    color: var(--first-color-light);
}

.footer__copy{
    color: var(--title-color);
    font-size: var(--small-font-size);
    text-align: center;
}

/* Scroll Bar */

::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(var(--hue), 90%, 85%);
}

::-webkit-scrollbar-thumb{
    width: .6rem;
    background-color: hsl(var(--hue), 90%, 40%);
}

::-webkit-scrollbar-thumb:hover{
    width: .6rem;
    background-color: hsl(var(--hue), 100%, 70%);
}

/* Scrollup */

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    display: inline-flex;
    padding: 6px;
    color: var(--title-color);
    font-size: 1.25rem;
    box-shadow: 0 4px 12px hsla(var(--hue), 30%, 8%, .3);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollup:hover{
    transform: translateY(-.5rem);
}

.show-scroll{
    bottom: 3rem;
}


/* Carousel */


.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); /* Example values */

  }
  
  .carousel-image {
    flex-shrink: 0;      /* Prevent images from shrinking inside the flex container */
    width: 100%;         /* Ensure the image fills the entire width of the container */
    height: 15rem;       /* Set a fixed height for consistency across all images */
    object-fit: cover;   /* Ensure the image covers the entire area without stretching */
    display: block;
  }
  
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 500 ;
  }
  
  .carousel-button.left {
    left: 10px;
    transition: transform 0.4s;
  }
  
  .carousel-button.right {
    right: 10px;
    transition: transform 0.4s;
  }
 
  .project__link:hover .carousel-button.left {
    transform: translate(-.75rem, -50%); 
    
}

.project__link:hover .carousel-button.right {
    transform: translate(.75rem, -50%); 
}


.carousel-item {
    flex: 0 0 100%;
    position: relative;
}

.carousel-description {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    padding: 5px 10px;
    transition: transform 0.4s;
}

.carousel-item.active .carousel-description {
    display: block;
}

.project__link:hover .carousel-description {
    transform: translate(-50%, 1rem); /* Combine horizontal and vertical transformations */
}







/* Breakpoints */
/* small devices */
@media screen and (min-width: 300px){
    .container{
        margin-inline: 1rem;
    }

}

/* medium devices */
@media screen and (min-width: 540px){
    .home__container,
    .services__container,
    .aboutus__container,
    .projects__container,
    .contactus__container{
        grid-template-columns: 475px;
        justify-content: center;
    }
}


@media screen and (min-width: 768px){
    .nav__menu{
        width: 50%;
    }
    .home__container{
        grid-template-columns: repeat(2, 355px);
    }
    .home__data{
        align-self: flex-end;
        padding-bottom: 3rem;
        order: -1;
    }
    .home__scroll{
        grid-column: 1 / 3;
    }
    .services__container,
    .projects__container{
        grid-template-columns: repeat(2, 350px);
    }
    .aboutus__container{
        grid-template-columns: initial;
    }

    .aboutus{
        grid-template-columns: repeat(2, 350px);
        align-items: center;
    }
    .aboutus__content{
        order: 1;
    }
}
/* large devices */

@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 5rem;
    }

    .section__title{
        margin-bottom: 4rem;
    }

    .nav{
        height: calc(var(--header-height) + .5rem);
    }

    .nav__toggle,
    .nav__close{
        display: none;
    }

    .nav__menu{
        width: initial;
    }

    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
    }

    .home__container{
        grid-template-columns: 533px 350px;
        gap: 3rem 8rem;
    }

    .home__img{
        width: 350px;
    }

    .home__name{
        margin-bottom: 1.5rem;
    }

    .home__profession::after{
        bottom: -1rem;
        width:35%
    }

    .services__container{
        grid-template-columns: repeat(2, 540px);
        gap: 2.5rem;
    }

    .service__link{
         padding: 3rem 3rem 2rem;
    }

    .service__title{
        font-size: var(--h2-font-size);
        margin-bottom: 1rem;
    }

    .service__link i{
        font-size: 2rem;
    }


    



    .projects__container{
        grid-template-columns: repeat(2, 540px);
        gap: 2.5rem;
    }

    .project__link{
         padding: 3rem 3rem 2rem;
    }

    .project__title{
        font-size: var(--h2-font-size);
        margin-bottom: 1rem;
    }

    .project__link i{
        font-size: 2rem;
    }





    .aboutus__container{
        row-gap: 4rem;
    }

    .aboutus__title{
        font-size: var(--normal-font-size);
        margin-bottom: 3.5rem;
    }

    .aboutus{
        grid-template-columns: 320px 420px;
        column-gap: 11.5rem;
    }

    .aboutus__img{
        width: 320px;
    }

    .aboutus__description{
        margin-bottom: 3rem;
    }

    .contactus__container{
        grid-template-columns: 580px;
    }

    .contactus__group{
        grid-template-columns: repeat(2, 1fr);
    }

    .contactus__area{
        height: 15rem;
    }

    .contactus__button{
        width: max-content;
        justify-self: center;
        margin-top: 1.5rem;
    }

    .contactus__message{
        bottom: 4.5rem;
    }
    .contactus__social{
        grid-template-columns: repeat(1, max-content);
        column-gap: 5rem;
    }
    .footer__container{
        padding-block: 1.5rem;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
    .footer__links{
        column-gap: 4rem;
        order: 1;
    }
    .scrollup{
        right: 3rem;
    }
}




/* Cursor */
body {
    margin: 0;
    height: 100vh;
    overflow: auto; /* Allow scrolling */
    cursor: none; /* Hide the default cursor */
    position: relative; /* Ensure body is the reference for absolute positioning */
}

.cursor {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    position: fixed;
    pointer-events: none;
    display: none;
    z-index: 9999;
    transition: width 0.2s, height 0.2s;
}

.vertical-line, .horizontal-line, .square {
    position: absolute; /* Absolute positioning within the cursor */
    pointer-events: none; /* Prevent these elements from capturing mouse events */
}

.vertical-line {
    width: 1px; /* Thin vertical line */
    height: 400vh; /* Extending beyond the viewport */
    background-color: black; /* Line color */
    left: 50%; /* Center horizontally */
    top: -200vh; /* Start the line far above the viewport */
    transform: translateX(-50%); /* Center the line */
}

.horizontal-line {
    width: 400vw; /* Extending beyond the viewport */
    height: 1px; /* Thin horizontal line */
    background-color: black; /* Line color */
    top: 50%; /* Center vertically */
    left: -200vw; /* Start the line far to the left of the viewport */
    transform: translateY(-50%); /* Center the line */
}

.square {
    /* width: 10px; Size of the square */
    /* height: 10px; Size of the square */
    /* border: 1px solid black; Outline border */
    /* background-color: transparent; Transparent background */
    /* top: 50%; Center vertically */
    /* left: 50%; Center horizontally */
    /* transform: translate(-50%, -50%); Center the square */
}


.cursor.enlarged {
    width: 20px; 
    height: 20px; 
}


a, button, .clickable-element, i, input, textarea, .nav__toggle, .nav__close, button.carousel-button.left, button.carousel-button.right { /* Add other elements as needed */
    cursor: none;
}





#immediate-feedback {
    display: none;
    opacity: 0;
    transition: opacity 2s ease-in-out; /* Animation for fading in */
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark text */
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}




input:-webkit-autofill {
    background-color: hsl(var(--hue), 90%, 45%) !important;
    -webkit-box-shadow: 0 0 0px 1000px hsl(var(--hue), 90%, 95%) inset !important;
    color: #000000 !important; /* Keep the text color dark for readability */
}

input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    background-color: hsl(var(--hue), 90%, 95%) !important;
    -webkit-box-shadow: 0 0 0px 1000px hsl(var(--hue), 90%, 95%) inset !important;
    color: #000000 !important;
}



.phone-number.highlighted {
    background-color: hsl(var(--hue), 90%, 45%);
    transition: background-color 0.5s ease-out;
}

@keyframes flash {
    0% { background-color: hsl(var(--hue), 90%, 45%); }
    50% { background-color: transparent; }
    100% { background-color: hsl(var(--hue), 90%, 45%); }
}
.phone-number.highlighted {
    background-color: hsl(var(--hue), 90%, 45%);
    transition: background-color 0.5s ease-out;
}

@keyframes flash {
    0% { background-color: hsl(var(--hue), 90%, 45%); }
    50% { background-color: transparent; }
    100% { background-color: hsl(var(--hue), 90%, 45%); }
}



#contactus-message {
    color: #000000; /* Dark text */
    position: relative; /* Create a positioning context */
    display: inline-block; /* Ensure it only takes as much space as needed */
}

#contactus-message::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust this value to increase/decrease the space between text and underline */
    width: 100%;
    height: 0.1em; /* Thickness of the underline */
    background-color: #000000; /* Color of the underline */
}
